/* Auto layout */
.topic-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 6px;
    margin: 2px;

    height: 36px;

    background: #1F1F1F;
    border-radius: 6px;
}
