<div
  class="heatmap"
  [class.heatmap--portrait]="layout === 'portrait'"
  [class.heatmap--landscape]="layout === 'landscape'"
>
  <ng-container *ngIf="layout === 'portrait'; else landscapeTemplate">
    <div class="heatmap__grid">
      <ng-container *ngFor="let row of portraitRows; trackBy: trackByIndex">
        <div class="heatmap__label">
          {{ row.label }}
        </div>

        <button
          *ngFor="let cell of row.cells; trackBy: trackByIndex"
          type="button"
          class="heatmap__cell"
          [class.heatmap__cell--empty]="!cell.iso"
          [class.heatmap__cell--lvl-0]="cell.level === 0"
          [class.heatmap__cell--lvl-1]="cell.level === 1"
          [class.heatmap__cell--lvl-2]="cell.level === 2"
          [class.heatmap__cell--lvl-3]="cell.level === 3"
          [class.heatmap__cell--lvl-4]="cell.level === 4"
          [attr.aria-label]="cellAriaLabel(cell)"
          [attr.title]="cell.iso ? (cell.tooltipDate + ' • ' + cell.tooltipText) : null"
          [attr.tabindex]="cell.iso ? 0 : -1"
          [disabled]="!cell.iso"
        >
          <span class="heatmap__tooltip" *ngIf="cell.iso">
            <span class="heatmap__tooltip-date">{{ cell.tooltipDate }}</span>
            <span class="heatmap__tooltip-meta">{{ cell.tooltipText }}</span>
          </span>
        </button>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #landscapeTemplate>
    <div class="heatmap__grid">
      <div
        *ngFor="let day of weekdayLabels; trackBy: trackByIndex"
        class="heatmap__label"
      >
        {{ day }}
      </div>

      <ng-container *ngFor="let week of weekRows; trackBy: trackByIndex">
        <button
          *ngFor="let cell of week; trackBy: trackByIndex"
          type="button"
          class="heatmap__cell"
          [class.heatmap__cell--empty]="!cell.iso"
          [class.heatmap__cell--lvl-0]="cell.level === 0"
          [class.heatmap__cell--lvl-1]="cell.level === 1"
          [class.heatmap__cell--lvl-2]="cell.level === 2"
          [class.heatmap__cell--lvl-3]="cell.level === 3"
          [class.heatmap__cell--lvl-4]="cell.level === 4"
          [attr.aria-label]="cellAriaLabel(cell)"
          [attr.title]="cell.iso ? (cell.tooltipDate + ' • ' + cell.tooltipText) : null"
          [attr.tabindex]="cell.iso ? 0 : -1"
          [disabled]="!cell.iso"
        >
          <span class="heatmap__tooltip" *ngIf="cell.iso">
            <span class="heatmap__tooltip-date">{{ cell.tooltipDate }}</span>
            <span class="heatmap__tooltip-meta">{{ cell.tooltipText }}</span>
          </span>
        </button>
      </ng-container>
    </div>
  </ng-template>
</div>
