<div class="dashboard-container text-white ">
  <div class="container-fluid pt-1">
    <!-- Hero Section -->
    <div class="top-left-section text-center ">
      <div>
        <h1 class="hero-title">Ready to take your learning to the next level?</h1>
      </div>
    </div>
    <div class="top-right-section text-center">
      <p class="hero-subtitle">Your AI-powered learning companion — personalized, dynamic, and ready to help you grow.
      </p>

      <div class="d-flex justify-content-center gap-3 mt-4">
        <img src="assets/icons/availGoogle.png" alt="Hero Image" class="hero-image">
        <img src="assets/icons/apple.png" alt="Hero Image" class="hero-image">
      </div>
    </div>

    <!-- Cards Grid Section -->
    <div *ngIf="this.dataManager.isUserLoggedIn()" class="cards-grid">
      <section class="card-slot card-roadmap">
        <app-roadmap-card />
      </section>

      <section class="card-slot card-dashboard">
        <landing-dashboard-card />
      </section>

      <section class="card-slot card-stack">
        <app-profile-summary class="stack-item" />
        <app-quick-access class="stack-item" />
      </section>
    </div>
  </div>

  <!-- <app-beta-page class="login-container" (closeLogin)="toggleLoginVisibility()"></app-beta-page> -->
</div>