.dashboard-container {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Sofia', sans-serif;
    color: #9dadec;
    font-weight: bold;
    font-size: 5rem;
}

dashboard-card {
    // .card-body {
    //     position: relative;
    //     margin: 12px;
    width: 24vw;
    min-height: 23rem;
    height: 23rem;
    // }
}