<div class="ping-board-container">
  <div class="frame-1270">
    <div class="ping-board">PING BOARD</div>
    <div class="line-60"></div>
    <div class="frame-1271">
      <div class="frame-1267">
        <div class="ellipse-277"></div>
        <div class="pick-up-where-you-left-off-your-last-lesson-is-waiting">
          <span>
            <span
              class="pick-up-where-you-left-off-your-last-lesson-is-waiting-span"
            >
              Pick up where you left off
            </span>
            <span
              class="pick-up-where-you-left-off-your-last-lesson-is-waiting-span2"
            >
              — your last lesson is waiting!
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="frame-1272">
      <div class="frame-1268">
        <div class="ellipse-2772"></div>
        <div class="_3-new-questions-are-waiting-for-you-ready-for-a-challenge">
          <span>
            <span
              class="_3-new-questions-are-waiting-for-you-ready-for-a-challenge-span"
            >
              3 new questions
            </span>
            <span
              class="_3-new-questions-are-waiting-for-you-ready-for-a-challenge-span2"
            >
              are waiting for you — ready for a challenge?
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
