<div class="container-fluid text-bg-light" id="topHalf">
    <h2>Hi Aryan ,</h2>
    <img src="assets/aryan.jpg" />
</div>
<div class="container-fluid text-bg-dark text-center" id="bottomHalf">
    <div class="row justify-content-between pb-5">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <nav-button [key]="'text'" [value]="'3.4k'"></nav-button>
                </div>
                <div class="col">
                    <nav-button [key]="'text'" [value]="'3.4k'"></nav-button>
                </div>
                <div class="col">
                    <nav-button [key]="'text'" [value]="'3.4k'"></nav-button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <nav-button [key]="'text'" [value]="'3.4k'"></nav-button>
                </div>
                <div class="col">
                    <nav-button [key]="'text'" [value]="'3.4k'"></nav-button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-5">
        <div class="col-5">
            <app-roadmaps-scroll></app-roadmaps-scroll>
        </div>
    </div>

</div>