:host {
  --background-color: #1f1f1f;

  --color-black: #1f1f1f;
  /* dark background */
  --color-green: #46675D;
  /* deep green */
  --color-white: #EAE9E5;
  /* off-white */
  --color-light-blue: #BEDCE4;
  /* Fonts */
  --font-main: "Erbaum-Book", sans-serif;
  --font-secondary: 'ZenKakuGothicAntique-Regular', sans-serif;
  display: block;
}

#overlay {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.666);
  z-index: 1000;
}