<div class="container-fluid promptbox text-center">
    <div class="row">
        <div class="col">
            <img src="assets/prompt-images/hollow-ball.png" alt="Catalyst Logo" class="img-fluid">
        </div>
        <div class="col bg-dark bg-gradient text-white p-5 fs-4">
            <p>Which subject are we thinking of and which topic should I serve you with</p>
            <input type="text" class="form-control mb-3" placeholder="Enter your subject here">
            <input type="text" class="form-control mb-3" placeholder="Enter your topic here">
        </div>
    </div>
</div>