<footer class="footer" role="contentinfo">
  <div class="footer__left">
    <p class="footer__text">
      Made with love by <span class="footer__brand">catalysTM</span>
      <img class="footer__icon" src="../../assets/icons/Heart.svg" alt="Heart" />
    </p>
  </div>

  <div class="footer__right" aria-label="Footer navigation">
    <a class="footer__link" routerLink="/support">
      <span>support</span>
      <img class="footer__icon" src="../../assets/icons/support-icon.svg" alt="Support" />
    </a>
  </div>
</footer>
