.frame-1389,
.frame-1389 * {
  box-sizing: border-box;
}
.frame-1389 {
  background: #2f2f2f;
  border-radius: 10.3px 10.3px 0px 0px;
  padding: 68px 38px 68px 38px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 703px;
  position: relative;
}
.frame-1388 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 674px;
  position: relative;
}
.lorem-ipsum-dolor-sit-dolor-lorem-ispum-solor-sit-lorem-ip {
  color: #eae9e5;
  text-align: center;
  font-family: "AlbertSans-Regular", sans-serif;
  font-size: 28px;
  line-height: 110%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1386 {
  flex-shrink: 0;
  width: 181px;
  height: 223px;
  position: relative;
  overflow: hidden;
}
.image-301 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 182px;
  height: 225px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 182/225;
}
.frame-1387 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 369px;
  height: 234px;
  position: relative;
}
.frame-1380 {
  padding: 0px 12px 0px 12px;
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 36px;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.frame-1382 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.radio-buttons {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  opacity: 0.38;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
._3-44-m-s {
  color: #eae9e5;
  text-align: left;
  font-family: "AlbertSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1383 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.icon2 {
  opacity: 0.38;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-1384 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
.icon3 {
  opacity: 0.38;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-1378 {
  padding: 8px 9px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.icon4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-1385 {
  background: var(--color-primary-green, #46675d);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: 42px;
  position: relative;
}
.submit {
  color: #ffffff;
  text-align: left;
  font-family: "AlbertSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iconsax-close-circle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 26px;
  top: 18px;
  overflow: hidden;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.iconsax-arrow-left-02 {
  flex-shrink: 0;
  width: 25px;
  height: 24px;
  position: absolute;
  left: 26px;
  top: 650px;
  overflow: visible;
}
.iconsax-arrow-right-02 {
  flex-shrink: 0;
  width: 25px;
  height: 24px;
  position: absolute;
  left: 781px;
  top: 650px;
  overflow: visible;
}
