<div class="parent">
  <div class="left-panel">
    <div class="roadmap-scroll">
      <div class="roadmap-grid">
        <app-roadmap-item
          *ngFor="let item of roadmapItems"
          [roadmapItem]="item"
          (saveToggle)="onSaveToggle($event)"
          (questionClick)="onQuestionClick($event)"
          (questionBookmark)="onQuestionBookmark($event)"
          (toggleExpansion)="onToggleExpansion($event)">
        </app-roadmap-item>
      </div>
    </div>
    <Button class="vertical-divider">
      Divider goes here
    </Button>

  </div>
</div>

