:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.parent {
  height: 100%;
  min-height: 0;
}

.left-panel {
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: start;
}

.roadmap-scroll {
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.roadmap-grid {
  display: grid;
  gap: 12px;
  width: 40vw;

}

.vertical-divider {
  height: 100%;
  align-self: stretch;
  width: 3vw;

  background: #9B5F53;
  color: #EAE9E5;
  border: 0;
  padding: 12px;
  cursor: pointer;
}
