:host {
  display: block;
  height: 100%;
  min-height: 0;
}

.parent {
  height: 100%;
  min-height: 0;
}

.left-panel {
  height: 100%;
  min-height: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.left-panel{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.vertical-divider{
  background: #9B5F53;
  colour: #EAE9E5;
}
