<div class="parent">
  <div class="left-panel">
    <div class="roadmap-scroll">
      <div class="roadmap-grid">
        <app-roadmap-item
          *ngFor="let item of roadmapItems"
          [roadmapItem]="item"
          [activeQuestionId]="activeQuestionId"
          (saveToggle)="onSaveToggle($event)"
          (questionClick)="onQuestionClick($event)"
          (questionBookmark)="onQuestionBookmark($event)"
          (toggleExpansion)="onToggleExpansion($event)">
        </app-roadmap-item>
      </div>
    </div>
    <Button class="vertical-divider">
      <span class="divider-text">
        #{{ selectedRoadmapTitle || 'Roadmap' }}
      </span>
    </Button>

  </div>
</div>

