<div class="main-page">
  <div class="page-title">Roadmap</div>
  <div class="content-area">
    <app-roadmap-list
      class="roadmap-pane"
      (questionSelected)="onQuestionSelected($event)">
    </app-roadmap-list>

    <app-question-card
      class="question-pane"
      [questions]="activeQuestions"
      [index]="activeIndex"
      (indexChange)="onIndexChange($event)"
      (answered)="onAnswered($event)">
    </app-question-card>
  </div>
  <div class="content-area">
    <button class="btn primary" (click)="submitForAnalysis()" [disabled]="!activeBlockId">
      Submit for analysis
    </button>
  </div>

</div>

