:host {
  display: block;
  width: 100%;
  height: 100%;
}

.dashboard-card {
  background: #2f2f2f;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  align-items: stretch;
  justify-content: stretch;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  }
}

.heatmap {
  flex: 1 1 auto;
  min-height: 0;
  width: 80%;

  display: block;
  min-height: 0;

  height: 113%;
  right: -60px;
  position: relative;
  top: -41px;
  margin-right: 0;
}

.dashboard-title {
  flex-shrink: 0;
  color: #f7f6f3;
  position: relative;
  top: 320px;
  font-size: clamp(20px, 3vw, 42px);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);

  //text-align: left;
  //font-family: "Erbaum-Medium", sans-serif;
  //font-size: 42px;
  //letter-spacing: -0.03em;
  //font-weight: 500;

  //display: flex;
  //align-items: center;
  //justify-content: flex-start;
}




/* Inline | http://localhost:4200/home */

.dashboard-title[_ngcontent-ng-c2775016969] {}

/* Element | http://localhost:4200/ */

div.heatmap {
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
}