<app-nav-bar></app-nav-bar>

<main class="container">
  <h1 class="main-title">Study Plan</h1>

  <section>
    <h2 class="section-title">Featured</h2>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">LeetCode 75</div>
        <div class="card-desc">Ace Coding Interview with 75 Qs</div>
      </div>
      <div class="card">
        <div class="card-header">Top Interview 150</div>
        <div class="card-desc">Must-do List for Interview Prep</div>
      </div>
      <div class="card">
        <div class="card-header">Binary Search</div>
        <div class="card-desc">8 Patterns, 42 Qs = Master BS</div>
      </div>
      <div class="card">
        <div class="card-header">SQL 50</div>
        <div class="card-desc">Crack SQL Interview in 50 Qs</div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="section-title">Introduction To</h2>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">Introduction to Pandas</div>
        <div class="card-desc">Learn Basic Pandas in 15 Qs</div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="section-title">30 Days Challenge</h2>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">30 Days of Pandas</div>
        <div class="card-desc">Essential for pandas Interviews</div>
      </div>
      <div class="card">
        <div class="card-header">30 Days of JavaScript</div>
        <div class="card-desc">Learn JS Basics with 30 Qs</div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="section-title">Cracking Coding Interview</h2>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">Top Interview 150</div>
        <div class="card-desc">Must-do List for Interview Prep</div>
      </div>
      <div class="card">
        <div class="card-header">LeetCode 75</div>
        <div class="card-desc">Ace Coding Interview with 75 Qs</div>
      </div>
      <div class="card">
        <div class="card-header">Top 100 Liked</div>
        <div class="card-desc">100 Best Rated Problems</div>
      </div>
      <div class="card">
        <div class="card-header">SQL 50</div>
        <div class="card-desc">Crack SQL Interview in 50 Qs</div>
      </div>
    </div>
  </section>


  <section>
    <h2 class="section-title">Sprint Interview</h2>
    <div class="card-grid">
      <div class="card">
        <div class="card-header">Amazon Spring '23 High Frequency</div>
        <div class="card-desc">Practice Amazon 25 Recently Asked Qs</div>
      </div>
      <div class="card">
        <div class="card-header">Google Spring '23 High Frequency</div>
        <div class="card-desc">23 Recent Qs to Prepare Google Interview</div>
      </div>
      <div class="card">
        <div class="card-header">TikTok Spring '23 High Frequency</div>
        <div class="card-desc">Practice TikTok 21 Recently Asked Qs</div>
      </div>
    </div>
  </section>
</main>




